:root {
  --primary-color: #dadada7f;
  --secondary-color: #2d8051a3;
  --quinary-color: #000000;
  background-color: var(--primary-color);
  line-height: 1.75rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10%;
}

.link {
  text-decoration: none;
  color: var(--quinary-color);
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.2s;
}

.link:hover {
  color: var(--secondary-color);
  transition: 0.2s;
}

.footer {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding: 1rem;
  border-top: 1px solid var(--quinary-color);
}

.footer > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  font-size: 1.25rem;
}

.footer__link {
  padding: 0 1rem;
  color: #000000;
  font-size: 1.15rem;
  font-weight: 400;
  transition: 0.2s;
  text-decoration: none;
}

.footer__link:hover {
  color: var(--secondary-color);
  scale: 1.1;
  transition: 0.2s;
}

.main__title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.para {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: justify;
  text-indent: 2.5rem;
}

.main__ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem 2.5rem;
  text-transform: capitalize;
}

.main__li {
  margin-bottom: 0.5rem;
}

.main__ul > li > a::before {
  content: '> ';
}

.main__ul > li > a {
  text-decoration: none;
  color: var(--quinary-color);
  transition: 0.2s;
  /*ajouter un > devant le lien*/
}

.main__ul > li > a:hover {
  color: var(--secondary-color);
  transition: 0.2s;
}

.notepad {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .main {
    margin: 0 10%;
  }
  .main__title {
    font-size: 2.5rem;
  }
  .para {
    font-size: 1.25rem;
  }
  .main__ul {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
  .para-padding {
    margin-right: 0;
  }
  .footer {
    width: 80%;
  }
  .footer > div {
    width: 100%;
  }
}
