<!-- footer ejs -->
<html lang="fr">

<body>
    <footer class="footer">
        <div>
            <a href="<%= info.linkContact %>" class="footer__link">📩 Contact</a>
            <a href="<%= info.linkGithub %>" class="footer__link">Github</a>

            <%= info.auteur %>,
                <%= date %>.
        </div>
    </footer>
</body>

</html>