<!-- footer ejs -->
<html lang="fr">
  <body>
    <footer class="footer">
      <div>
        <a href="<%= linkContact %>" class="footer__link">Contact</a>
        <a href="<%= linkGithub %>" class="footer__link">Github</a>
      </div>
      <p class="footer__text"><%= auteur %>, <%= date %>.</p>
    </footer>
  </body>
</html>
