<!-- footer ejs -->
<html lang="fr">

<body>
    <footer class="footer">
        <div>
            <a href="<%= info.linkContact %>" class="footer__link">Contact</a>
            <a href="<%= info.linkGithub %>" class="footer__link">Github</a>
        </div>
        <p class="footer__text">
            <%= info.auteur %>,
                <%= info.date %>.</p>
    </footer>
</body>

</html>