<!-- header ejs -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title>
        <%= info.title %>
    </title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
</head>

</html>