<!-- Page d'accueil template ejs avec partials -->
<%- include('partials/header') %>
    <html lang="fr">

    <body>
        <main class="main">
            <header>
                <h1 class="main__title">
                    <%= info.title %>
                </h1>
                <p class="para">
                    Bienvenue sur le template de base Node.js. Pour m'installer facilement, vous pouvez lancer avec les droits appropriés le fichier <strong class="strong">launch.sh</strong>, celui-ci vous permettra d'installer les dépendances et de configurer
                    votre dépôt local <strong class="strong">git</strong>, ainsi que distant sur <strong class="strong">github</strong> et de les relier. Les dépendances suivantes sont intégrées :
                    <ul class="main__ul">
                        <% for (const dependance of info.dependances) { %>
                            <li class="main__ul__li link link--readme">
                                <%- dependance %>
                            </li>
                            <% } %>
                    </ul>
                </p>
                <p class="para">
                    Vous avez à votre disposition un serveur <strong>NodeJS</strong> avec <strong class="strong">Express.js</strong>, un moteur de <strong class="strong">template EJS</strong>, respectant le modèle <strong class="strong">MVC</strong>.
                </p>
                <p class="para">
                    Vous pouvez ajouter des dépendances via le fichier <strong class="strong">package.json</strong> et les installer via la commande <strong class="strong">npm install</strong>. Vous pouvez également ajouter des fichiers statiques dans
                    le dossier <strong class="strong">public</strong>. Vous pouvez utiliser <strong class="strong">utils.js</strong> pour gérer les <strong class="strong">locals et utilitaires</strong>.
                </p>
                <p class="para">
                    Ce projet est configuré pour utiliser <strong class="strong">Jest et supertest</strong> pour les tests unitaires et d'intégration. Vous pouvez lancer les tests disponible dans app.test.js(/__test__/) via la commande <strong class="strong">npm test</strong>.
                </p>
                <p class="para">
                    Vous trouverez un dossier <strong class="strong">Models</strong> dans lequel il y a un fichier JS qui initialise une <strong>bdd sqlite3</strong>. Pour plus d'informations, veuillez consulter le fichier <strong class="strong"><a href="/README.md" class="link link--readme">📝 README.md</a></strong>.
                </p>
            </header>
        </main>
    </body>

    </html>
    <%- include('partials/footer') %>